@font-face {
  font-family: 'logoicon';
  src:  url('../fonts/logoicon.eot?kp9li1');
  src:  url('../fonts/logoicon.eot?kp9li1#iefix') format('embedded-opentype'),
    url('../fonts/logoicon.ttf?kp9li1') format('truetype'),
    url('../fonts/logoicon.woff?kp9li1') format('woff'),
    url('../fonts/logoicon.svg?kp9li1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-logo"], [class*=" icon-logo"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'logoicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
  content: "\e900";
  color: inherit;
}