.btn-link--wrapper {
  .btn {
    -webkit-backface-visibility: hidden;
    z-index: 1;
    position: relative;
    font-size: $buttontagsize;
    font-family: $familymono;
    letter-spacing: 1.34px;
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid $darkblack;
    padding: 20px 50px;
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
    transition-property: background-color, border-color, color, box-shadow;
    border-radius: 3px;
    box-shadow: 0 0 0 0 $boxshadowcol;
    &.primary {
      background: $darkblack;
      color: $white;
    }
    &.secondary {
      background: $white;
      color: $darkblack;
    }
  }
  &:hover {
    .btn {
      border-color: $darkblack-hover;
      -moz-box-shadow: 0.6rem 0.6rem 0 0 $boxshadowcol;
      -webkit-box-shadow: 0.6rem 0.6rem 0 0 $boxshadowcol;
      box-shadow: 0.6rem 0.6rem 0 0 $boxshadowcol;
      &.primary {
        background: $darkblack-hover;
      }
      &.secondary {
        color: $darkblack-hover;
      }
    }
  }
}

.btn-group {
  .btn-link--wrapper:first-child {
    margin-right: 30px;
  }
  @media (max-width: $smscreen) {
    display: flex;
    flex-direction: column;
    .btn-link--wrapper:first-child {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}
