.btn-link--wrapper {
  .btn {
    -webkit-backface-visibility: hidden;
    z-index: 1;
    position: relative;
    font-size: 24px;
    font-family: $font-sans;
    letter-spacing: 0.5px;
    font-weight: 600;

    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid $darkblack;
    border-radius: 4px;
    padding: 20px 60px;

    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
    transition-property: background-color, border-color, color, box-shadow;

    -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.3);
    &.primary {
      background: $darkblack;
      color: $white;
    }
    &.secondary {
      background: $white;
      color: $darkblack;
    }
  }
  &:hover {
    .btn {
      border-color: $darkblack-hover;
      &.primary {
        background: $darkblack-hover;
      }
      &.secondary {
        color: $darkblack-hover;
      }
    }
  }
}

.btn-group {
  .btn-link--wrapper:first-child {
    margin-right: 30px;
  }
  &.margin-top {
    margin-top: 50px;
  }
  @media (max-width: $smscreen) {
    display: flex;
    flex-direction: column;
    .btn-link--wrapper:first-child {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}
