.next-previous--wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  @media (max-width: $smscreen) {
    flex-direction: column;
  }
}

.case-study--navigator {
  background: $lightpurple;
  padding: 80px 96px;
  flex: 1;
  transition-timing-function: ease-in-out;
  transition-duration: 250ms;

  &:last-child {
    margin-left: 8px;
  }
  .case-study--navigator--label {
    font-size: 16px;
    margin-bottom: 16px;
    color: $darkpurple;
    font-weight: 600;
    font-family: $font-source;
  }
  .case-study--navigator--title {
    color: $darkpurple;
    font-size: 24px;
    strong {
      font-weight: 600;
    }
  }
  @media (max-width: $mdscreen) {
    padding: 56px 64px;
    .case-study--navigator--title {
      font-size: 20px;
    }
  }
  @media (max-width: $smscreen) {
    padding: 52px 52px;
    &:last-child {
      margin-left: 0px;
      margin-top: 8px;
    }
  }
}
