.footer {
  background: $darkblue;
  position: relative;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  .container {
    width: 100%;
    justify-content: space-between;
    .sitemap {
      .list-item {
        font-family: $familymono;
        font-size: 18px;
        color: $lightpurple;
        transition-duration: 250ms;
        transition-timing-function: ease-in-out;
        transition-property: color;
        &:hover {
          color: $lightpurple-hover;
        }
        &:not(:last-child) {
          margin-right: 40px;
        }
      }
    }
    .social-icons {
      .social-item {
        &:not(:last-child) {
          margin-right: 40px;
        }
        .icon {
          display: inline-block;
          color: $lightpurple;
          font-size: 32px;
          transition-duration: 250ms;
          transition-timing-function: ease-in-out;
          transition-property: color;
          &:hover {
            color: $lightpurple-hover;
          }
        }
      }
    }
    @media (max-width: $mdscreen) {
      align-items: center;
      .sitemap {
        margin-bottom: 40px;
      }
    }
  }
}
