.footer {
  background: $white;
  position: relative;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  .container {
    width: 100%;
    justify-content: space-between;
    .sitemap {
      .list-item {
        cursor: pointer;
        border: none;
        background: none;
        font-family: $font-sans;
        font-weight: 500;
        font-size: $nav-footer-size;
        letter-spacing: 2px;
        color: $nav-base;
        transition-duration: 250ms;
        transition-timing-function: ease-in-out;
        transition-property: color;
        &:hover {
          color: $darkblack-hover;
        }
        &:not(:last-child) {
          margin-right: 40px;
        }
      }
    }
    .social-icons {
      .social-item {
        &:not(:last-child) {
          margin-right: 40px;
        }
        .icon {
          display: inline-block;
          color: $darkblack;
          font-size: 32px;
          transition-duration: 250ms;
          transition-timing-function: ease-in-out;
          transition-property: color;
          &:hover {
            color: $darkblack-hover;
          }
        }
      }
    }
    @media (max-width: $lgscreen - 64px) {
      flex-direction: column;
      align-items: center;
      .sitemap {
        margin-bottom: 40px;
      }
      @media (max-width: $mobile) {
        .social-icons .social-item {
          &:not(:last-child) {
            margin-right: 24px;
          }
          .icon {
            font-size: 24px;
          }
        }
        .sitemap .list-item {
          font-size: 16px;
          &:not(:last-child) {
            margin-right: 24px;
          }
        }
      }
    }
  }
}
