.section.hero-section {
  margin-top: 100px;
  max-width: 800px;
  .title {
    margin-bottom: 40px;
  }
  p {
    padding-left: 60px;
    font-size: $bodysizelg;
    max-width: 600px;
    letter-spacing: $kerning-lg;
    @media (max-width: $mdscreen) {
      & {
        padding-left: 0px;
      }
    }
  }
  margin-bottom: 287px;

  &::before {
    content: ' ';
    position: absolute;
    z-index: -1;
    background: $offwhite;
    top: 0;
    left: 0;
    height: 297px;
    width: 50%;
  }
}
