.section.hero-section {
  margin-top: 100px;
  &:not(.no-max) {
    max-width: 800px;
  }
  .title {
    margin-bottom: 40px;
  }
  p {
    padding-left: 60px;
    font-size: $bodysizelg;
    max-width: 600px;
    letter-spacing: $kerning-lg;
    @media (max-width: $mdscreen) {
      & {
        padding-left: 0px;
      }
    }
  }
  margin-bottom: 287px;

  &::before {
    content: ' ';
    position: absolute;
    z-index: -1;
    background: $offwhite;
    // background: url(/img/patterns/topography.svg),
    //   linear-gradient($offwhite, $offwhite);
    background-repeat: repeat;
    background-size: cover;
    top: 0;
    left: 0;
    height: 500px;
    width: 60%;
    border-bottom-right-radius: 100%;
    @media (max-width: $mdscreen) {
      width: 80%;
    }
    @media (max-width: $smscreen) {
      width: 100%;
    }
  }
}
