.section.hero-section {
  margin-top: 100px;
  &:not(.no-max) {
    max-width: 800px;
  }
  .title {
    margin-bottom: 40px;
  }
  p {
    padding-left: 60px;
    font-size: $body-fs-lg;
    max-width: 600px;
    letter-spacing: $kerning-lg;
    @media (max-width: $mdscreen) {
      & {
        padding-left: 0px;
      }
    }
  }
  margin-bottom: 287px;
}

#hero--home {
  padding-top: 30px;
  max-width: 850px;
  @media (min-width: $mdscreen + 1px) {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    text-align: center;
    & > h1 {
      font-size: 48px;
    }
    & > p {
      padding: 0;
      margin-left: auto;
      margin-right: auto;
      // text-align: left;
    }
  }
}
