.job-listings {
  .job-block {
    display: flex;
    flex-direction: row;

    padding-top: 100px;
    padding-bottom: 100px;

    &:nth-child(even) {
      background: $lightgrey;
    }

    .job-block--date {
      max-width: 1.5 * ($gcolumn + $ggap);
      flex-shrink: 0;
      margin-right: $gcolumn + $ggap;
      box-sizing: border-box;
      font-size: 20px;
      font-weight: $sansmed;
      text-transform: uppercase;
      color: #6e6d6d;
      letter-spacing: 0.4px;
      font-style: italic;
      &::selection {
        color: $darkblack;
      }
    }

    .job-block--content {
      flex-grow: 1;
      letter-spacing: 1.73px;
    }

    .job-block--position {
      margin-bottom: 15px;
      font-family: $familymono;
      font-size: $jobtitlesize;
      font-weight: $monosemi;
    }

    .job-block--tag {
      font-size: $buttontagsize;
      color: $accent;
      text-transform: uppercase;
      margin-bottom: 8px;
      font-family: $familymono;
      font-weight: $monosemi;
    }

    .job-block--summary {
      margin-bottom: 0;
      &.m-bottom {
        margin-bottom: 20px;
      }
    }

    .job-block--takeaway {
      margin-bottom: 0;
    }

    @media (min-width: $lgscreen + 1px) {
      padding-left: 100px + $gcolumn + $ggap;
    }

    @media (max-width: $mdscreen) {
      flex-direction: column;
      padding-top: 50px;
      padding-bottom: 50px;
      .job-block--date {
        max-width: 100%;
        margin-bottom: 6px;
        margin-right: 0;
        font-size: 14px;
      }
    }
  }
}
