.job-listings {
  .job-block {
    display: flex;
    flex-direction: row;

    .job-block--date {
      max-width: 2 * ($gcolumn + $ggap);
      flex-shrink: 0;
      margin-right: $gcolumn + $ggap;
      font-size: 34px;
      font-weight: $sansmed;
      text-transform: uppercase;
      color: $offgrey;
      letter-spacing: 0.4px;
      &::selection {
        color: $darkblack;
      }
    }

    .job-block--content {
      flex-grow: 1;
    }

    .job-block--position {
      margin-bottom: 15px;
      font-family: $familymono;
      font-size: $jobtitlesize;
      font-weight: $monosemi;
    }

    .job-block--tag {
      font-size: $buttontagsize;
      color: $accent;
      text-transform: uppercase;
      margin-bottom: 8px;
      font-family: /*$familymono;*/ 'IBM Plex Mono', monospace;
      font-weight: $monosemi;
    }

    .job-block--summary {
      &.m-bottom {
        margin-bottom: 20px;
      }
    }

    .job-block--takeaway {
    }

    &:not(:last-child) {
      margin-bottom: 80px;
    }

    @media (max-width: $mdscreen) {
      flex-direction: column;
      .job-block--date {
        max-width: 100%;
        margin-bottom: 10px;
        margin-right: 0;
        font-size: 20px;
      }
    }
  }
}
