.navigation {
  position: absolute;
  z-index: 100;
  top: 51px;
  width: 100%;
  .nav--container {
    position: relative;
    justify-content: space-between;
    .brand--container {
      .nav-logo {
        width: 32px;
        height: 32px;
        background: $manilla;
        border-radius: 4px;
        .icon-logo {
          font-size: $navlogosize;
          color: $darkbrown;
        }
      }
    }
    .nav--list {
      height: 100%;
      .nav--item {
        font-family: $familymono;
        font-weight: 400;
        font-size: 18px;
        color: $nav-base;
        position: relative;
        transition-duration: 250ms;
        transition-timing-function: ease-in-out;
        transition-property: color;
        &:not(:last-child) {
          margin-right: 2.5rem;
        }
      }
    }
  }
  &.on-dark .nav--container .nav--list .nav--item {
    color: $manilla;
    &:hover {
      color: $offwhite;
    }
  }
  @media (max-width: $mdscreen) {
    &.md-on-dark .nav--container .nav--list .nav--item {
      color: $manilla;
      &:hover {
        color: $offwhite;
      }
    }
  }
  &.on-light .nav--container .brand--container {
    .nav-logo {
      background: $darkbrown;
      .icon-logo {
        color: $white;
      }
    }
  }
}
