$mobile-nav-break: $smscreen + 80px;

.navigation {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  z-index: 1001;
  .nav--container {
    position: relative;
    justify-content: space-between;
    margin-left: 110px;
    @media (max-width: $lgscreen) {
      margin-left: $margin-tablet;
    }
    @media (max-width: $smscreen) {
      margin-left: $margin-mobile;
    }

    .nav-logo {
      width: 32px;
      height: 32px;
      background: $darkpurple;
      border-radius: 4px;
      margin-top: 28px;
      margin-bottom: 28px;
      .icon-logo {
        font-size: 18px;
        color: $white;
      }
    }
    .nav--list {
      height: 100%;
      background: $white;
      padding: 38px 85px;
      position: relative;
      z-index: 100;
      max-height: 101px;

      &.fixed {
        position: fixed;
        top: 0;
        right: 0;
      }

      @media (max-width: $mobile-nav-break) {
        padding: 38px 38px;
      }

      .nav--item {
        border: none;
        background: none;
        position: relative;
        font-size: 18px;
        font-family: $font-source;
        letter-spacing: 0.82px;
        cursor: pointer;
        &:not(:last-child) {
          margin-right: 32px;
        }
        .nav--icon {
          width: 22px;
          margin-left: 4px;
          opacity: 0.7;
          transition-timing-function: $bounce-sm;
          transition-duration: 250ms;
          transition-property: opacity, transform;
        }
        &:hover {
          .nav--icon {
            opacity: 1;
            transform: translateX(5px);
          }
        }
      }
    }

    @media (min-width: $mobile-nav-break + 1px) {
      .show-sm {
        display: none;
      }
    }
    @media (max-width: $mobile-nav-break) {
      .hide-sm {
        display: none;
      }
    }
  }
}
