.navigation {
  position: relative;
  margin-top: 51px;
  width: 100%;
  .nav--container {
    position: relative;
    justify-content: space-between;
    .brand--container {
      .nav-logo {
        width: 32px;
        height: 32px;
        background: $deepblue;
        border-radius: 4px;
        .icon-logo {
          font-size: $navlogosize;
          color: $white;
        }
      }
    }
    .nav--list {
      height: 100%;
      .nav--item {
        position: relative;
        font-weight: 600;
        font-size: 16px;
        color: $nav-base;
        transition-duration: 250ms;
        transition-timing-function: ease-in-out;
        transition-property: color;
        &:before {
          content: ' ';
          position: absolute;
          z-index: -1;
          width: 115%;
          height: 10px;
          right: -10%;
          bottom: -5%;
          background-color: $white;
          transition: ease-in-out 250ms;
        }
        &:hover {
          color: $nav-hover;
          &:before {
            height: 105%;
            width: 120%;
          }
        }
        &:not(:last-child) {
          margin-right: 2.5rem;
        }
      }
    }
  }
}
