$not-found-rotate: -20deg;
$not-found-rotate-sm: -90deg;

.section.not-found--main {
  width: 100%;
  height: 100vh;
  min-height: 440px;
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 234px;
  padding-bottom: 300px;
  box-sizing: border-box;
  justify-content: center;
  margin-bottom: 0;
  @media (max-width: $mdscreen) {
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: flex-start;
  }
  .container {
    max-width: 640px;
    .title--container {
      width: 100%;
      position: relative;
      margin-bottom: 40px;
      .title {
        font-size: 120px;
        margin-bottom: 0;
      }
    }
    @media (max-width: $mdscreen) {
      .title--container {
        .title {
          font-size: 100px;
        }
      }
    }
    @media (max-width: $smscreen) {
      .title--container {
        max-width: 100%;
        margin-bottom: 20px;
        .title {
          font-size: 60px;
          text-align: left;
        }
      }
      .body {
        text-align: left;
      }
    }
  }
}
