// margin bottom for work block in the grid
$work-block-mb: 120px;

.work-grid {
  margin-top: 120px;
  position: relative;
  // offset the last row of work-block items' margin-bottom
  &:not(.featured-project-grid) {
    margin-bottom: -($work-block-mb/2);
  }
}

.work-block {
  display: inline-flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: $work-block-mb;

  .work-block--image {
    height: 340px;
    width: 100%;
    flex-shrink: 1;
    border: 2px $darkblack solid;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 30px;
    position: relative;
  }

  @media (min-width: $mdscreen + 1px) {
    &:not(.featured-work) {
      width: 45%;
      &:nth-child(odd) {
        margin-right: 10%;
      }
    }
  }

  &.featured-work {
    flex-direction: row;
    width: 100%;
    .work-block--image {
      margin-right: 128px;
      max-width: 523px;
      height: 400px;
    }
  }

  .work-block--content {
    max-width: 430px;
    flex-grow: 1;
  }

  .work-block--title {
    font-family: $familymono;
    font-weight: $monosemi;
    letter-spacing: $kerning-md;
    font-size: 24px;
    margin-bottom: 12px;
  }

  .work-block--summary p {
    font-size: $bodysizesm;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.work-grid {
  @media (min-width: $mdscreen + 1px) {
    .work-block.featured-work {
      align-items: center;
      .work-block--image {
        &::before {
          z-index: -1;
          content: ' ';
          background: $offwhite;
          position: absolute;
          top: 50px;
          width: 100%;
          height: 100%;
        }
      }
      &:nth-child(odd) {
        .work-block--image::before {
          left: -50px;
        }
      }
      &:nth-child(even) {
        flex-direction: row-reverse;
        .work-block--image {
          margin-right: 0;
          margin-left: 128px;
          margin-bottom: 0px;
          &::before {
            right: -50px;
          }
        }
      }
    }
  }
}

@media (max-width: $mdscreen) {
  .work-block,
  .work-block.featured-work {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    .work-block--image {
      width: 100%;
      max-width: 100%;
      height: 280px;
    }
  }
}

$work-section-title-lines-len: 186px;

.work-section-title {
  position: relative;
  text-align: center;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  &::before,
  &::after {
    content: ' ';
    background: $offgrey;
    position: absolute;
    z-index: -1;
    top: 50%;
    width: $work-section-title-lines-len;
    height: 2px;
  }
  &::before {
    right: -($work-section-title-lines-len + 34);
  }
  &:after {
    left: -($work-section-title-lines-len + 34);
  }
  @media (max-width: $mdscreen + 100px) {
    width: 100%;
    &::before,
    &::after {
      display: none;
      content: none;
    }
  }
}
