.navigation {
  position: relative;
  margin-top: 51px;
  width: 100%;
  .nav--container {
    position: relative;
    justify-content: space-between;
    .brand--container {
      .nav-logo {
        width: 32px;
        height: 32px;
        background: $darkblack;
        border-radius: 4px;
        .icon-logo {
          font-size: 20px;
          color: $white;
        }
      }
    }
    .nav--list {
      height: 100%;
      .nav--item {
        font-weight: 500;
        font-family: $familymono;
        &:not(:last-child) {
          margin-right: 40px;
        }
      }
    }
  }
}
