.headshot-image {
  width: 436px;
  height: 520px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid $darkblack;
  margin-bottom: -2px;
  margin-left: -68px;
}

.gradient-bg-top,
.gradient-bg-bot {
  position: relative;
  &::before {
    content: ' ';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}
.gradient-bg-top::before {
  background: $gradient;
}
.gradient-bg-bot::before {
  background: $gradient-rev;
}

.container--white {
  background: $white;
}
.container--hero-about {
  max-width: 812px;
  width: 100%;
  padding-top: 154px;
  padding-bottom: 154px;
  margin-left: 0px;
  margin-right: 0px;
  &--inner {
    max-width: 500px;
  }
}
.container--about-before {
  max-width: 500px;
}

// .section.work-projects {
//   margin-top: -87px;
// }

// .section.hero-section.hero-section--about {
//   margin-bottom: 150px;
//   @media (max-width: $lgscreen) and (min-width: $mdscreen + 1px) {
//     p.body {
//       padding-left: 0;
//     }
//   }
// }

// .about-hero--body-img-container {
//   z-index: 1;
//   position: relative;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   .about-hero--body {
//     flex-shrink: 1;
//     .body {
//       @media (max-width: $mdscreen) {
//         padding-left: 0;
//       }
//       &:last-child {
//         margin-bottom: 0;
//       }
//     }
//   }
//   .headshot-image {
//     flex-grow: 1;
//     margin-top: 120px;
//     img {
//       border: 2px solid $darkblack;
//       box-sizing: content-box;
//       flex-grow: 1;
//       width: 350px;
//       @media (max-width: $lgscreen) and (min-width: $mdscreen + 1px) {
//         width: 300px;
//       }
//     }
//   }
//   @media (min-width: $mdscreen + 1px) {
//     .about-hero--body {
//       margin-right: 94px;
//     }
//   }
//   @media (max-width: $mdscreen) {
//     flex-direction: column;
//     .about-hero--body {
//       flex-shrink: 0;
//       margin-bottom: 30px;
//     }
//     .headshot-image {
//       margin-top: 0;
//       text-align: center;
//       img {
//         width: 100%;
//         max-width: 350px;
//       }
//     }
//   }
// }
