.flex-parent {
  display: flex;
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-ac {
  align-items: center;
}
.flex-ae {
  align-items: flex-end;
}
.flex-as {
  align-items: flex-start;
}

.flex-jc {
  justify-content: center;
}

@media (max-width: $mdscreen) {
  .flex-col-md {
    flex-direction: column;
  }
}
