@font-face {
  font-family: 'Martel';
  src: url(../fonts/martel-extrabold-webfont.woff2) format('woff2'),
    url(../fonts/martel-extrabold-webfont.woff) format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Martel';
  src: url(../fonts/martel-heavy-webfont.woff2) format('woff2'),
    url(../fonts/martel-heavy-webfont.woff) format('woff');
  font-weight: 900;
  font-style: normal;
}
