* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: $darkblack;
  box-sizing: border-box;
}

body {
  background: $white;
  margin: 0;
  font-family: $familybody;
  font-size: $body-fs-md;
  &.large {
    letter-spacing: 2.1px;
  }
  &.medium {
    letter-spacing: 1.8px;
  }
}

::selection {
  background-color: $selection;
}
