h1,
h2 {
  font-weight: $headingbold;
}

h1 {
  font-size: $h1-desktop;
  font-family: $familyserif;
  @media (max-width: $mdscreen) {
    font-size: $h1-tablet;
  }
}

h2 {
  color: $darkblack;
  font-family: $familymono;
  font-size: $h2-desktop;
  @media (max-width: $mdscreen) {
    font-size: $h2-tablet;
  }
}

// ---- Responsive Font Size (rem) Overrides ----
@media (max-width: $mdscreen) {
  html {
    font-size: 14px;
  }
}

.section:not(.hero-section) {
  .body {
    letter-spacing: 1.73px;
  }
}
