h1 {
  font-family: $font-serif;
  color: $darkpurple;
  font-weight: bold;

  &.h1--case-study {
    font-size: 72px;
    @media (max-width: $mdscreen) {
      font-size: 64px;
    }
    @media (max-width: $smscreen) {
      font-size: 48px;
    }
  }
}

h2 {
  color: $darkpurple;
  font-size: 40px;
  font-family: $font-serif;
  letter-spacing: 1.45px;
  margin-bottom: 67px;

  @media (max-width: $mdscreen) {
    margin-bottom: 72px;
  }
  @media (max-width: $smscreen) {
    font-size: 36px;
    line-height: 1.6;
    margin-bottom: 60px;
  }
}

p {
  color: $offblack;
  font-family: $font-sans;
  font-size: 19px;
  font-weight: normal;
  // @media (max-width: $mdscreen) {
  //   font-size: 24px;
  // }
  // @media (max-width: $smscreen) {
  //   font-size: 22px;
  // }
  &.leading {
    line-height: 1.55;
  }
}

h1,
h2,
h3,
h4,
p {
  &:not(.no-smooth) {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
  }
}

.nav-type {
  font-family: $font-sans;
  font-weight: 600;
  font-size: $nav-footer-size;
  color: $nav-base;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  transition-property: color;
  &:hover {
    color: $darkblack-hover;
  }
  &.active {
    color: $darkblack-hover;
    position: relative;
    &::before {
      content: ' ';
      width: 100%;
      height: 4px;
      background: $darkblack-hover;
      bottom: -125%;
      position: absolute;
    }
  }
}
