* {
  letter-spacing: $kerning-md;
}

h1,
h2 {
  font-family: $familymono;
  font-weight: $monobold;
  // color: $darkblack;
  color: $vibrantblue;
}

h1 {
  font-size: $h1size;
  letter-spacing: $kerning-lg;
}

h2 {
  font-size: $h2size;
  letter-spacing: $kerning-md;
}
