.m-b-for-btn {
  margin-bottom: 88px;

  @media (max-width: $mdscreen) {
    margin-bottom: 40px;
  }
}

.stripe-text {
  position: relative;
  z-index: 1;
  .text {
    font-family: $font-mono;
    background: $white;
    color: #000;
    display: inline;
    line-height: 54px;
    font-size: 32px;
  }
  @media (max-width: $mdscreen) {
    margin-right: 0;
  }
  @media (max-width: $smscreen) {
    .text {
      line-height: 48px;
      font-size: 24px;
    }
  }
}
