.m-l-auto {
  margin-left: auto;
}
.m-r-auto {
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.section {
  margin-left: $margin-desktop;
  margin-right: $margin-desktop;

  .title {
    margin-bottom: 47px;
  }
  .body {
    margin-bottom: 20px;
    &:last-child {
      // may need to change - want it to work with homepage button group
      margin-bottom: 60px;
    }
  }

  &.hero-section {
    margin-top: 100px;
    // padding-left: 61px;
    max-width: 800px;
    .title {
      margin-bottom: 40px;
    }
    .subtext {
      padding-left: 60px;
      font-size: $bodysizelg;
      max-width: 600px;
      letter-spacing: $kerning-lg;
    }
    margin-bottom: 287px;
  }

  &.section-m-bottom-lg {
    margin-bottom: 280px;
  }
  &.section-m-bottom-md {
    margin-bottom: 130px;
  }
}

.pad {
  padding-left: $gutter-padh;
  padding-right: $gutter-padh;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: $mdscreen) {
    padding-left: $gutter-padh/2;
    padding-right: $gutter-padh/2;
  }
  @media (max-width: $xsscreen) {
    padding-left: 25px;
    padding-right: 25px;
  }
  @media (max-width: $mobile) {
    padding-left: 15px;
    padding-right: 15px;
  }

  @media (max-width: $lgscreen) {
    &.sm-pad-lg {
      padding-left: $gutter-padh/2;
      padding-right: $gutter-padh/2;
    }
  }
}
