.about--section {
  .about--section-title {
    max-width: 700px;
    position: relative;

    &::before {
      content: ' ';
      width: 157px;
      height: 118px;
      background-image: url('../img/portfolio_tri.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      left: 0px;
      top: 10px;
      transform: rotate(45deg);
      z-index: -1;
      @media (max-width: $smscreen) {
        top: -10px;
      }
    }

    @media (min-width: $lgscreen + 60px) {
      margin-left: 90px;
    }
  }
  .info-section {
    margin-top: 40px;
    max-width: 709px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    @media (max-width: $smscreen) {
      margin-bottom: 40px;
    }

    .info-block {
      &:not(:last-child) {
        margin-bottom: 60px;
      }
      .title {
        color: $blue;
        font-style: italic;
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 10px;
        position: relative;
        max-width: 100%;
      }
      .body {
        font-size: 28px;
        a {
          color: $blue;
          text-decoration: underline;
        }
      }
      @media (max-width: $mdscreen) {
        .title {
          font-size: 30px;
        }
        .body {
          font-size: 26px;
        }
      }
      @media (max-width: $smscreen) {
        .title {
          font-size: 28px;
        }
        .body {
          font-size: 24px;
        }
      }
    }
  }
}
