#hero {
  position: relative;
  margin-bottom: 0;
  &::before {
    content: ' ';
    z-index: 0;
    background-image: url('../img/texture.svg');
    background-size: 30px;
    opacity: 0.8;
    width: 287px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
  }
  &::after {
    content: ' ';
    background-image: url('../img/texture.svg');
    background-size: 30px;
    opacity: 0.8;
    width: 250px;
    height: 350px;
    position: absolute;
    bottom: -20px;
    right: 0;
  }
}

.hero--section {
  padding-top: 154px;
  padding-bottom: 84px;
  background: $lightpurple;
  margin-bottom: 0;

  .hero--container {
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;

    .title {
      max-width: 800px;
      margin-bottom: 32px;
      &.about--title {
        max-width: 708px;
      }
    }
    .description {
      max-width: 640px;
      font-family: $font-sans;
      font-size: 20px;
      color: $offblack;
      font-weight: 500;
      line-height: 34px;
      text-align: center;
    }
  }

  @media (max-width: $smscreen) {
    .hero--container .title {
      margin-bottom: 32px;
    }
  }
}

.hero--rounded-bottom {
  width: 100%;
  margin-bottom: 160px;
  background-size: 100vw;
  padding-bottom: 10vw;
  background-repeat: no-repeat;
  background-position: bottom center;
  position: relative;
  z-index: 2;
}
