.job-listings {
  position: relative;

  .job-block {
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;

    &:last-child {
      margin-bottom: 0;
    }

    .job-block--date {
      max-width: 185px;
      flex-shrink: 0;
      margin-right: 92px;
      box-sizing: border-box;
      font-size: 32px;
      font-weight: bold;
      text-transform: uppercase;
      color: #898989;
      font-family: $font-sans;
      &::selection {
        color: $darkblack;
      }
    }

    .job-block--content {
      flex-grow: 1;
    }

    .job-block--company {
      margin-bottom: 8px;
      font-family: $font-mono;
      font-size: 48px;
      font-weight: bold;
    }

    .job-block--position {
      margin-bottom: 16px;
      font-family: $font-sans;
      font-size: 32px;
      font-weight: 600;
      font-style: italic;
    }

    .job-block--tag {
      font-size: $buttontagsize;
      color: $accent;
      text-transform: uppercase;
      margin-bottom: 8px;
      font-family: $familymono;
      font-weight: $monosemi;
    }

    .job-block--summary {
      margin-bottom: 0;
      &.m-bottom {
        margin-bottom: 20px;
      }
    }

    .job-block--takeaway {
      margin-bottom: 0;
    }

    @media (min-width: $lgscreen + 1px) {
      padding-left: 60px;
    }

    @media (max-width: $mdscreen) {
      flex-direction: column;
      margin-bottom: 72px;
      max-width: 600px;
      margin-left: 0;
      .job-block--date {
        max-width: 100%;
        margin-bottom: 6px;
        margin-right: 0;
      }
    }
  }
}
