.job-listings {
  position: relative;
  padding-top: 132px;
  padding-bottom: 132px * 2;

  &::after {
    content: ' ';
    position: absolute;
    width: 65%;
    z-index: -1;
    top: -222px;
    right: 0;
    height: calc(100% - 132px);
    padding-bottom: 132px;
    background: $white;
  }

  .job-block {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;

    &:last-child {
      margin-bottom: 132px;
    }

    .job-block--date {
      max-width: 185px;
      flex-shrink: 0;
      margin-right: 15vw;
      box-sizing: border-box;
      font-size: 26px;
      font-weight: 600;
      text-transform: uppercase;
      color: #6e6e6e;
      letter-spacing: 0.3px;
      font-family: 'Work Sans', 'Helvetica', sans-serif;
      &::selection {
        color: $darkblack;
      }
    }

    .job-block--content {
      flex-grow: 1;
      letter-spacing: 1.73px;
    }

    .job-block--position {
      margin-bottom: 15px;
      font-family: $familymono;
      font-size: $jobtitlesize;
      font-weight: $monosemi;
    }

    .job-block--tag {
      font-size: $buttontagsize;
      color: $accent;
      text-transform: uppercase;
      margin-bottom: 8px;
      font-family: $familymono;
      font-weight: $monosemi;
    }

    .job-block--summary {
      margin-bottom: 0;
      &.m-bottom {
        margin-bottom: 20px;
      }
    }

    .job-block--takeaway {
      margin-bottom: 0;
    }

    @media (min-width: $lgscreen + 1px) {
      padding-left: 100px + $gcolumn + $ggap;
    }

    @media (max-width: $mdscreen) {
      flex-direction: column;
      margin-bottom: 72px;
      max-width: 600px;
      margin-left: 0;
      .job-block--date {
        max-width: 100%;
        margin-bottom: 6px;
        margin-right: 0;
        font-size: 14px;
      }
    }
  }

  @media (max-width: $mdscreen) {
    padding-top: 72px;
    padding-bottom: 0;
    background: $white;
    &::after {
      content: none;
    }
  }
}
