#portfolio {
  background: $lightpurple;
  margin-bottom: 0;
  padding-bottom: 130px;
  padding-top: 130px;

  position: relative;
  &::before {
    content: ' ';
    background-image: url('../img/texture.svg');
    background-size: 30px;
    opacity: 0.8;
    width: 154px;
    height: 440px;
    position: absolute;
    top: 0px;
    left: 0;
  }
  &::after {
    content: ' ';
    background-image: url('../img/texture.svg');
    background-size: 30px;
    opacity: 0.8;
    width: 154px;
    height: 440px;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  h2 {
    max-width: 490px;
    position: relative;
  }
  .container {
    max-width: 850px;
  }
}
