.portfolio--slant-top {
  width: 100%;
  height: 100px;
  overflow: hidden;
  position: relative;
  margin-top: -50px;
  &::before {
    content: ' ';
    width: 100%;
    height: 100%;
    bottom: -50%;
    transform: rotate(3deg);
    background-color: $lightpurple;
    position: absolute;
  }
}

#portfolio {
  background: $lightpurple;
  margin-bottom: 0;
  padding-bottom: 130px;
  padding-top: 60px;

  @media (max-width: $smscreen) {
    padding-top: 40px;
  }

  position: relative;
  &::before {
    content: ' ';
    background-image: url('../img/texture.svg');
    background-size: 30px;
    opacity: 0.8;
    width: 164px;
    height: 440px;
    position: absolute;
    top: 0px;
    left: 0;
  }
  &::after {
    content: ' ';
    background-image: url('../img/texture.svg');
    background-size: 30px;
    opacity: 0.8;
    width: 164px;
    height: 440px;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  h2 {
    max-width: 490px;
    position: relative;
    @media (max-width: $mdscreen) {
      margin-bottom: 60px;
    }
    @media (max-width: $smscreen) {
      margin-bottom: 40px;
    }
  }
  .container {
    max-width: 850px;
  }
}

.work-grid {
  position: relative;
  z-index: 1;
}

.work-section-title {
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
