// ------- Colors -------
$darkblack: #252525;
$gold: #f2c07e;
$accent: /*#503dfb;*/ $gold;
$offgrey: #dcdce2; // used in the job date strings
$offwhite: /*#f5f5f9;*/ #fafafc; // used in the decorative squares
$white: #ffffff;

$darkblue: #363a56;
$darkblue-hover: #292d49;
$darkblue-focus: #1d213d;

$nav-base: #565656;
$nav-hover: $darkblack;

// ---- New Color Palette? -----
$midpurple: #4649a6;
$lightpurple: #a3b3ef;
$darkblue2: #0c1138;
$other-gold: #ffc14d; // may want to use my gold from above
$v-light-grey: #f4f6f8;

$midpurple-hover: #393c99;

$maroon: #d43a79;
$vibrantblue: #3a5bd4;
$teal: #17b5a5;

// overrides
// $darkblack: $darkblue2;
$offwhite: #fff6f0d9;
$offwhite: #ffede1;

$boxshadowcol: rgba(242, 191, 126, 0.2);

// ------ Hover Colors -------
$darkblack-hover: #121212;

$accent-highlight: rgba(79, 60, 251, 0.2);

// ------- Typography -------
// fonts
$familymono: /*'IBM Plex Mono', monospace;*/ 'Martel', 'Georgia', serif;
$familysans: 'IBM Plex Sans', 'Helvetica', sans-serif;

// -- weights --
$monobold: /*700;*/ 900;
$monosemi: /*600;*/ 800;
$sansreg: 400;
$sansmed: 600;

// -- sizes --
$h1size: 2.5rem;
$h2size: 2.125rem;
$bodysizelg: 1.375rem;
$bodysizemd: 1.125rem;
$bodysizesm: 1rem;
$buttontagsize: 0.875rem;
$jobtitlesize: 1.375rem;

$navlogosize: 1rem;
$navfontsize: 1.25rem;

// -- letter spacing --
$kerning-lg: 2.1px;
$kerning-md: 1.8px;
$kerning-sm: 1px;

// ------- Screen Sizes -------

$lgscreen: 1020px;
$mdscreen: 800px;
$smscreen: 600px;
$xsscreen: 475px;
$mobile: 400px;

// ------- Padding & Margin -------
$margin-desktop: 100px;
$margin-tablet: 50px;
$margin-mobile: 25px;

$gcolumn: 60px;
$ggap: 32px;

$gutter-padh: $margin-desktop;
$hero-padv: 170px;
$nav-padv: 40px;
$nav-padh: 30px;
$hero-margin-b: 140px;
