$gradient: linear-gradient(to bottom, #f4f1ed, #f3e7e9);
$gradient-rev: linear-gradient(to top, #f4f1ed, #f3e7e9);

$gradient2: linear-gradient(to top, #e7e3f3, #f3e7e9);
$gradient2-rev: linear-gradient(to bottom, #e7e3f3, #f3e7e9);

// ------- Colors -------
$darkblack: #121212;
$accent: #503dfb;
$white: #ffffff;

$midblack: #252525;
$offwhite: #f4f1ed;

// ------ Hover Colors -------
$darkblack-hover: #121212;
$accent-highlight: rgba(79, 60, 251, 0.2);

// --- To Sort Through
$selection: rgba(255, 171, 145, 0.58);
$nav-base: #565656;
$nav-hover: $darkblack;
// $boxshadowcol: #f4d8d0;
$boxshadowcol: #cac4fd;

// ------- Typography -------
// fonts
$familysans: 'Cabin', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$familymono: 'IBM Plex Mono', 'Courier', monospace;
$familybody: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

// -- weights --
$monosemi: 700;
$sansreg: 400;
$sansmed: 600;

// -- sizes --
$body-fs-md: 1.125rem;
$body-fs-sm: 1rem;

$buttontagsize: 14px;
$jobtitlesize: 1.5rem;

$navlogosize: 20px;
$navfontsize: 1.25rem;

// ------- Screen Sizes -------

$lgscreen: 1020px;
$mdscreen: 800px;
$smscreen: 600px;
$xsscreen: 475px;
$mobile: 400px;

// ------- Padding & Margin -------
$margin-desktop: 100px;
$margin-tablet: 50px;
$margin-mobile: 25px;

$gcolumn: 60px;
$ggap: 32px;

$gutter-padh: $margin-desktop;
$hero-padv: 170px;
$nav-padv: 40px;
$nav-padh: 30px;
$hero-margin-b: 140px;
